/* on line 1 of stylesheets/screen.sass */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #222222;
  background: #fcfcfc;
  padding: 2em;
}
/* on line 7 of stylesheets/screen.sass */
body h1 {
  color: #ffcc00;
}
