- @title = "Day view"
- @body_class = "day-view"

%h3 John Foo dies in plane crash

%p 
  Sauli Väinämö Niinistö born 24 August 1948) is the 12th and current President of Finland. A lawyer by education, Niinistö was Minister of Finance from 1996 to 2003 and the National Coalition Party candidate in the 2006 presidential election. He served as the Speaker of the Parliament of Finland from 2007 to 2011 and has been the Honorary President of the European People's Party (EPP) since 2002.

%p
  Niinistö was the National Coalition Party candidate in the 2012 presidential election, beating Pekka Haavisto of the Green League with 62.6% of the vote in the decisive second round. Niinistö assumed office on 1 March 2012, and is the first president from the National Coalition Party since Juho Kusti Paasikivi, who left office in 1956.

%p.source (Source: Wikipedia)